.mainWrapper {
    display: flex;
    flex-direction: column;
}

.main-image {
    height: 300px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #54B4F9 5.67%, #FFFFFF 127%);
    height: 300px;
    width: 375px;
    background-image: url('../../assets/bakground.jpg');
    background-size: cover;
}

.panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 375px;
    height: 531px;
    left: 0px;
    top: 279px;
    background: #FFFFFF;
    box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.headings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date {
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #999999;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(93, 166, 203, 0.797);
    padding-left: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.location p {
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0DA0EA;
    cursor: pointer;
}

.places-icon {
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: #0DA0EA;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px 0 20px;
}

.row-card {
    width: 95px;
    height: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.card-icon {
    width: 26px;
    height: 22px;
    color: #AAAAAA;
    margin: 5px;
}

.card-value {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.05em;
    color: #444444;
    margin: 5px
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #999999;
    margin: 5px;
}

.search-panel {
    position: absolute;
    width: 375px;
    height: 781px;
    left: 0px;
    top: 29px;
    background: #FFFFFF;
    box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media screen and (min-width: 768px) {
    .mainWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-image {
        height: 300px;
        width: 100%;
        background-image: url('../../assets/background-web.jpg');
        background-size: cover;
        background-position: center;
    }
    .panel {
        flex-direction: column;
        position: absolute;
        width: 100%;
        box-shadow: none;
        ;
    }
    .headings {
        background: #FFFFFF;
        box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
        justify-content: space-around;
    }
    .date {
        padding: 10px;
        font-size: 20px;
        width: 70%;
    }
    .location {
        justify-content: space-around;
        width: 30%;
        border-bottom-left-radius: 0px;
    }
    .location p {
        font-size: 20px;
    }
    .places-icon {
        height: 20px;
        margin-left: 15px;
    }
    .row-card {
        width: 125px;
        height: 130px;
    }
    .card-value {
        font-size: 20px;
        margin: 10px
    }
    .card-icon {
        width: 36px;
        height: 32px;
    }
    .card-title {
        font-size: 15px;
    }
    .search-panel {
        width: 100%;
        left: 0px;
        top: 280px;
        background: white;
        box-shadow: none;
    }
}