.current-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.current-condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.condition-icon {
    color: #AAAAAA;
    width: 40px;
}

.condition-value {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin: 5px
}

.condition-value::first-letter {
    text-transform: uppercase;
}

.temperature-value {
    display: flex;
    justify-content: baseline;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -0.05em;
    color: #000000;
    margin: 0;
}

.span-letter {
    font-size: 20px;
    color: #616161;
    padding: 5px;
}

.temp-diff-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #666666;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .current-condition {
        flex-direction: row;
    }
    .condition-icon {
        width: 50px;
    }
    .condition-value {
        font-size: 28px;
        margin: 15px
    }
    .temp-diff {
        display: flex;
        flex-direction: row;
        margin: 20px
    }
    .temp-diff-item {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 26px;
        color: #666666;
        margin: 20px;
    }
}